body {
  margin: 0;
  text-align: center;
}

.App {
  background-image: url("https://images.unsplash.com/photo-1588873281272-14886ba1f737?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1850&q=80");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container2 {
  padding-top: 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.create-room {
  background-color: black;
  color: yellowgreen;
  border-right: 4px;
  border-color: yellowgreen;
  font-size: 20px;
  margin-top: 25px;
}

.join-room {
  width: 50vw;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 25px;
}

.features {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  padding-top: 2%;
}
.join-button {
  background-color: black;
  color: yellowgreen;
}
.meeting-link {
  font-size: 20px;
}

.name {
  font-size: 60px;
  color: white;
  font-weight: 1000;
  padding-top: 7%;
}

.subhead {
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.input-feild {
  background-color: #ffffff;
  border-radius: 30px;
  width: 90%;
  margin-bottom: 10px;
}

.pad-60 {
  padding-left: 30px;
}
.input-user {
  margin-left: auto;
  margin-right: auto;
}
.popup .modal-content {
  background-color: #fde3d9;
}

.label {
  width: 30%;
  text-align: left;
  font-size: 12px;
  padding-left: 35px;
  padding-top: 16px;
  color: #000000;
}

.header {
  margin-bottom: 20px;
  font-weight: 900;
}
.my-modal {
  height: 40%;
  width: 60%;
}
.submit-button {
  color: white;
  background-color: black;
  width: 100px;
  height: 50px;
  border-width: 0;
  border-radius: 25px;
}

.feild {
  height: 20px;
  border: none;
  border-color: transparent;
}

input[type="text"] {
  border: none;
}

.username {
  font-size: medium;
}
